<script language="JavaScript">
        document.addEventListener('DOMContentLoaded', function() {
        fetch('/get_student_ids')
            .then(response => response.json())
            .then(data => {
                populateDropdown(document.getElementById('insertStudentID'), data.studentIDs);
            });

        fetch('/get_course_ids')
            .then(response => response.json())
            .then(data => {
                populateDropdown(document.getElementById('insertCourseID'), data.courseIDs);
            });

        function populateDropdown(selectElement, dataArray) {
            selectElement.innerHTML = '';
            dataArray.forEach(function(id) {
                var option = document.createElement('option');
                option.value = id;
                option.text = id;
                selectElement.appendChild(option);
                });
            }
        });
        function viewForm(action) {
            if (action == 'insert') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            } else if (action == 'update') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            } else if (action == 'delete') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            } else { // by default display select
                document.getElementById('select').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }

        function newGrade() { 
            viewForm('insert'); 
        }

        function updateGrade(pid) { 
            viewForm('update');
            var courseID = document.getElementById('courseID_' + pid).innerText;
            var studentID = document.getElementById('studentID_' + pid).innerText;
            var gradeValue = document.getElementById('gradeValue_' + pid).innerText;

            document.getElementById('updateGradeID').value = pid;
            document.getElementById('updateCourseID').value = courseID;
            document.getElementById('updateStudentID').value = studentID;
            document.getElementById('updateGradeValue').value = gradeValue;
        }

        function selectGrade() { 
            viewForm('select'); 
        }
        function searchTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("gradeTable");
            tr = table.getElementsByTagName("tr");
            
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    </script>
</head>
<body onload="selectGrade()">
    <main>
    <h2>Grades</h2>
    <p></p>
    
    <div id="select">
        <p><a href="#" onClick="newGrade()">New Grade</a> </p>
        <table id="gradeTable" border="1" cellpadding="5">
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>Course ID</th>
                <th>Student ID</th>
                <th>Grade Assigned</th>
            </tr>
            {{#each data}}
            <tr data-value={{this.courseID}}>
                <td><a href="#" onClick="updateGrade({{this.courseID}})">Edit</a></td>
                <td><a href="#" onClick="deleteGrade({{this.courseID}})">Delete</a></td>
                <td>{{this.courseID}}</td>
                <td>{{this.studentID}}</td>
                <td>{{this.gradeAssigned}}</td>
            </tr>
            {{/each}}
        </table>
        <script src="/js/d.grades.js"></script>
        <p>&nbsp;</p>
    </div>

    <div id="insert" style="display:none;">
        <form id="addGrades-form" method="POST" actio="/addGrades-form">
            <legend><strong>Add a new grade</strong></legend>
            <fieldset class="fields">
                <div><label> Course ID </label>
                    <select name="course_id" id="insertCourseID"></select>
                </div>
                <div><label> Student ID </label>
                    <select name="student_id" id="insertStudentID"></select>
                </div>
                <div><label> Grade Value </label> <input type="text" name="grade_value"></div>
            </fieldset>
            <input class="btn" type="submit" value="Add Grade">
            <input class="btn" type="button" value="Cancel" onClick="selectGrade()">
        </form>
    </div>

    <div id="update" style="display:none;">
        <form method="POST" id="updateGrade">
            <legend><strong>Update Grade</strong></legend>
            <fieldset class="fields">
                <input type="hidden" name="gradeID" id="updateGradeID" value="">
                <div><label> Course ID: </label> <input type="text" name="course_id" id="updateCourseID" value=""></div>
                <div><label> Student ID: </label> <input type="text" name="student_id" id="updateStudentID" value=""></div>
                <div><label> Grade Value </label> <input type="text" name="grade_value" id="updateGradeValue" value=""></div>
            </fieldset>
            <input class="btn" type="submit" value="Save Update">
            <input class="btn" type="button" value="Cancel" onClick="selectGrade()">
        </form>
    </div>

    
</main>
</body>
